body{
    background : #000;
    color : #fff;
}
h2 {
    color: red;
    text-transform: capitalize;
    text-align:center ;
}
a {
    position: relative;
    padding: 20px 50px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    overflow: hidden;
}
a span {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
}
a .btn {
    position: absolute;
    left: 20px;
    top: -80px;
    width: 233px;
    height: 230px;
    background: red;
    box-shadow: inset 0 0 50px rgb(0 0 0 / 50%);
    transition: 0.5s;
}
a:hover .btn {
    top: -120px;
}
a .btn:before,
a .btn:after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%);

}
a .btn:before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
}
a .btn:after {
    border-radius: 40%;
    background: rgba(20, 20, 20, 0.5);
    animation: animate 10s linear infinite;
}
@keyframes animate {
    0% {
        transform: translate(-50%,-75%) rotate(0deg);
    }
    0% {
        transform: translate(-50%,-75%) rotate(360deg);
    }
}
@media (max-width: 325px){
   a .btn {
    position: absolute;
    left: 10px;
   } 
   a {
    position: relative;
    padding: 21px 25px;
   }
}
